@font-face {
    src: url("../fonts/Montserrat-Black.ttf");
    font-family: "Montserrat-Black";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-BlackItalic.ttf");
    font-family: "Montserrat-BlackItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-Bold.ttf");
    font-family: "Montserrat-Bold";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-BoldItalic.ttf");
    font-family: "Montserrat-BoldItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-ExtraBold.ttf");
    font-family: "Montserrat-ExtraBold";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
    font-family: "Montserrat-ExtraBoldItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-ExtraLight.ttf");
    font-family: "Montserrat-ExtraLight";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
    font-family: "Montserrat-ExtraLightItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-Italic.ttf");
    font-family: "Montserrat-Italic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-Light.ttf");
    font-family: "Montserrat-Light";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-LightItalic.ttf");
    font-family: "Montserrat-LightItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-Medium.ttf");
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-MediumItalic.ttf");
    font-family: "Montserrat-MediumItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-family: "Montserrat-SemiBold";
    font-style: normal;
    font-weight: normal;
  }
  
  
  @font-face {
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
    font-family: "Montserrat-SemiBoldItalic";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-Thin.ttf");
    font-family: "Montserrat-Thin";
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    src: url("../fonts/Montserrat-ThinItalic.ttf");
    font-family: "Montserrat-ThinItalic";
    font-style: normal;
    font-weight: normal;
  }