// Colors
$black: #000000;
$almostblack: #111111;
$tintedblack: #222222;
$lightblack: #333333;
$paleblack: #444444;
$darkgray: #555555;
$shadedgray: #666666;
$mediumgray: #777777;
$tintedgray: #888888;
$lightgray: #999999;
$palegray: #aaaaaa;
$silver: #bbbbbb;
$darkwhite: #cccccc;
$shadedwhite: #dddddd;
$almostwhite: #eeeeee;
$white: #ffffff;

// Variables

// Styles

h2 {
    margin-top: 2em;
    padding: .5em;
    border-radius: 10px;
    background-color: $almostblack;
    color: $almostwhite
}

h3 {
    padding: 0 .5em;
}

.item, .edu {
    margin: 1em 1em;
    padding: 1.5em 2em;
    border-radius: 10px;
    background-color: $almostwhite;
}
