// Colors
$black: #000000;
$almostblack: #111111;
$tintedblack: #222222;
$lightblack: #333333;
$paleblack: #444444;
$darkgray: #555555;
$shadedgray: #666666;
$mediumgray: #777777;
$tintedgray: #888888;
$lightgray: #999999;
$palegray: #aaaaaa;
$silver: #bbbbbb;
$darkwhite: #cccccc;
$shadedwhite: #dddddd;
$almostwhite: #f5f5f5;
$white: #ffffff;

// Variables

// Styles

body {
    margin: 0;
    padding: 0;
}

.lang-switcher-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 99;
    .lang-switcher {
        position: sticky;
        top: 0;
        padding: 1em;
        select {
          font-size: 1em;
          padding: .1em;
          background-color: $almostblack;
          color: $almostwhite;
          border-color: $almostwhite;
          border-radius: 5px;
        }
    }
}

#app {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: #000000;
}
  
h1 {
    text-align: left;
    margin-bottom: 0;
}

nav {
    text-align: center;
    a {
        text-decoration: none;
        display: inline-block;
    }
    &.nav-main {
        position: sticky;
        top: 0;
        background-color: $almostblack;
        a {
            padding: .5em 1em 1em 1em;
            font-weight: 400;
            font-size: 1.1em;
            color: $almostwhite;
            &.router-link-exact-active {
                color: $tintedgray;
            }
            &:hover {
                background-color: $tintedblack;
            }
        }
    }
    &.nav-secondary {
        a {
            padding: 1em 1em;
            font-weight: 400;
            color: $tintedblack;
            text-transform: lowercase;
            &:hover {
                background-color: $shadedwhite;
            }
        }
    }
    &.nav-tertiary {
        background-color: $almostblack;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        a {
            padding: 1em 1em;
            font-size: .9em;
            color: $almostwhite;
            text-transform: lowercase;
            &:hover {
                background-color: $tintedblack;
            }
        }
    }
}

.section {
    margin: 0 10%;
}

h2 {
    margin: 2em 0 0 0;
    padding: .5em;
    border-radius: 10px;
    background-color: $almostblack;
    color: $almostwhite;
    &.wnav {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

h3 {
    padding: 0 .5em;
}

h4 {
    padding: 0 .5em;
}

.item, .edu {
    margin: 1em 1em;
    padding: 1.5em 2em;
    border-radius: 10px;
    background-color: $almostwhite;
}

.item-title, .item-caption, .item-subtitle, .item-date {
    line-height: 1.5em;
}
.item-title {
    font-weight: 700;
}
.item-caption {
    font-size: .9em;
}

.bubble {
    margin: .5em;
    padding: .5em;
    display: inline-block;
    background-color: $almostwhite;
    border: 1px solid $almostblack;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
