$black: #000000;
$almostblack: #111111;
$tintedblack: #222222;
$lightblack: #333333;
$palebalck: #444444;
$darkgray: #555555;
$shadedgray: #666666;
$mediumgray: #777777;
$tintedgray: #888888;
$lightgray: #999999;
$palegray: #aaaaaa;
$silver: #bbbbbb;
$darkwhite: #cccccc;
$shadedwhite: #dddddd;
$almostwhite: #eeeeee;
$white: #ffffff;
